*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Dongle', sans-serif;
  background-image: url(./image/donuts-gd5c6a619d_1920.jpg);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  min-height: 100vh;
  
}

  .menu_nav{
    display: flex;
    padding-bottom: 180px;
   font-size: 50px;
   text-decoration: none;
    text-align: center;
   justify-content: space-between;
   transition: transform 0.8s;

  }

  .logo {
    margin-left: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform 0.9s;
    
  }
  .logo:hover{
    transform: rotate(360deg);
  }

  .logo2 {
    margin-left: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform 0.9s;
  }

.logo2:hover {
  transform: rotate(360deg);
}

  .about-us {
    padding-right: 15px;
    text-decoration: none;
    text-align: center;
    color: yellow;
  }

  .menu {
    text-decoration: none;
    text-align: center;
    color: yellow;
  }

.gallery_item {
  position: relative;
  max-width: 400px;
  height: 400px;
  align-items: center;
  background-color: #fff;
}

.gallery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 50%;
}

@media (max-width: 530px) {
  .gallery_item{
     max-width: 300px;
     max-height: 300px;
     object-fit: cover;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(./image/colorful-sweeties-donuts-pattern-composition.jpg);
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
